node_modules
# truffle build directory
build/

# local env variables
.env

# lol macs
.DS_Store

# Coverage directory used by tools like istanbul
coverage

cache
artifacts

# ZeppelinOS
.openzeppelin/dev-*.json
